<!DOCTYPE HTML>
<html>
<head>
{%include "UI/Reception/head.html"%}
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		{%include "UI/Reception/sidebar.html"%}
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		{%include "UI/Reception/header.html"%}
        <!----main content-->
        <div id="page-wrapper">
			<div class="main-page">
				<div class="row">
					<!-- <p>
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul>
							{% for message in messages %}
							<li>{{ message }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
					</p> -->
					<center><h1>{{msg}}</h1></center>
					<h3 class="title1"><u><b><center>Reception Registration Details<center></b></u></h3>
					<div class="form-three widget-shadow">
						<form class="form-horizontal" action="/UI/Reception/addreceptionist" method="post" enctype="multipart/form-data">
							<div class="row">
								<p>
									{% with messages = get_flashed_messages() %}
									{% if messages %}
									<ul>
										{% for message in messages %}
										<li>{{ message }}</li>
										{% endfor %}
									</ul>
									{% endif %}
									{% endwith %}
								</p>
								<div class="col-md-1">
								</div>
									<div class="col-md-10">
										
									</div>
		
								<div class="col-md-1">
								</div>
							</div>
		
							<div class="row">
								<div class="col-md-12" style="background-color:grey">
									<b><h1 style="color:white;">Basic Information:</h1></b>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<b>Name</b>
									<br>
									<input type="text" id="name"name="name"class="form-control" placeholder="Name">
								</div>
								<div class="col-md-4">
									<b>Birth Date</b>
									<br>
									<input type="date" id="birthdate"name="birthdate"class="form-control" placeholder="Birth Date">
								</div>
								<div class="col-md-4">
									<b> Joining Date</b>
									<br>
									<input type="date" id="joiningdate"name="joiningdate"class="form-control" placeholder="Joining Date">
								</div>
								
								
		
								
							</div>
							<div class="row">
								
								
								<div class="col-md-4">
									<b>Gender</b>
									<br>
									<select class="form-control" id="gender" name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
								</div>
								<div class="col-md-4">
                                    <b>Phone</b>
                                    <br>
                                    <input type="text" id="phone" name="phone"class="form-control" placeholder="Phone">
                                </div>
								<div class="col-md-4">
                                    <b>Email</b>
                                    <br>
                                    <input type="email" id="email" name="email"class="form-control" placeholder="Email">
                                </div>
		
								
		
							</div>
							
                            <div class="row">
                                
                                
								<div class="col-md-4">
									<b>Aadhar Number</b>
									<input type="text" id="aadharno" name="aadharno" class="form-control" placeholder="Aadhar Number">
								</div>
                            </div>
							
                            
                            <div class="row">
								<div class="col-md-12" style="background-color:grey">
									<b><h1 style="color:white;">Address Information:</h1></b>
								</div>
							</div>
                            <div class="row">
								<div class= "col-md-5">
									<b>Present Address<b>
										<br>
										<textarea type="text" rows="6" id="presentaddress" name="presentaddress" class="form-control" placeholder="Present Address" >
											
										</textarea>
										
								</div>
								<div class="col-md-1">
									<b>Same<b>
										<br>
								        <center><input type="checkbox" value="copy" onClick="copy();" /></center>
								</div>
								
								<div class= "col-md-5">
									<b>Permanent Address<b>
										<br>
										<textarea type="text" rows="6" id="permanentaddress" name="permanentaddress" class="form-control" placeholder="Permanent Address" >
										</textarea>
								</div>	
									
								
							</div>    
							<div class="row">
								<div class="col-md-12" style="background-color:grey">
									<b><h1 style="color:white;">Other Information:</h1></b>
								</div>
							</div>
							<div class="row">
								
								<div class="col-md-3">
									<b>Username </b>
									<br>
									<input type="text" id="username" name="username" class="form-control" placeholder="Username">

										
								</div>
								<div class="col-md-3">
									<b>Password </b>
									<br>
									<input type="password" id="password" name="password" class="form-control" placeholder="Password">

										
								</div>

								<br>
								
							
                                <dl>
								<div class="col-md-3">
									<label>Photo</label> 
									<br>
									

									<input type="file" name="files1[]" id="fileInput1" class="form-control" multiple>

										
								</div>
								</dl>
								


							</div>
							<hr>
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">
									 
									 
										<input type="submit" name="submit" class="btn btn-primary" value="UPLOAD"/>
		 
		 
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
									 
									 
										<button type="button" class="btn btn-default" >Close</button>
		 
		 
									</div>
								</div>
									 

									 

							</div>

                            <script>
								$(document).ready(function(){
								 // File type validation
									$("#fileInput1").change(function(){
										var fileLength = this.files1.length;
										var match= ["image/jpeg","image/png","image/jpg","image/gif"];
										var i;
										for(i = 0; i < fileLength; i++){ 
											var file = this.files1[i];
											var imagefile = file.type;
											if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
												alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
												$("#fileInput1").val('');
												return false;
											}
										}
									});
								});
							</script>

							<script type="text/javascript">
								function copy()
								{
									var presentaddress = document.getElementById("presentaddress");
									var permanentaddress = document.getElementById("permanentaddress");
									permanentaddress.value = presentaddress.value;
								}
							</script>



						


						
									
									





										
									
								

						 

								
								
								
								
						  
							
							
							

							
							
							
							
						</form>



						<div class="row">
							<div class="col-md-3">
								&nbsp;
							</div>
							
					</div>
					<div class="col-md-3">
						&nbsp;
					</div>
				</div>
            </div>
        </div>


        
        
        
        
        
        
        
        
        
	<div class="cal1" style="visibility:hidden">
						
	</div>
		
			</div>
		</div>
	</div>
	<!--footer-->
	
	<!--//footer-->
</div>
<!-- Classie -->
	<!-- Classie -->
	<!-- Classie -->
     {%include "UI/Reception/footer.html"%}
</html>