<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1"style="overflow: scroll;scroll-behavior: auto;">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/UI/Reception/receptionDashboard" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Reception <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        
                        <li>
                            <a href="/UI/Reception/addreceptionist">Add Reception</a>`

                        </li>
                        
                        <!-- <li>
                            <a href="/Faculty/manageclass">Manage Class </a>
                        </li>
                        <li>
                            <a href="/Faculty/managesection">Manage Section</a>
                        </li>
                        <li>
                            <a href="/Faculty/addsubject">Add Subject</a>
                        </li>
                        <li>
                            <a href="/Faculty/addsyllabus">Add Syllabus</a>
                        </li>
                        <li>
                            <a href="/Faculty/classlecture">Class Lecture</a>
                        </li> -->
                    </ul>
                </li>
                <li>
                    <a href="/UI/Reception/changepassword" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Change Password</a>
                </li>
                <!-- <li>
                    <a href="/UI/Reception/logout" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Logout</a>
                </li> -->
                

            </ul>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>