<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1"style="overflow: scroll;scroll-behavior: auto;">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/UI/student/StudentDashboard" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Profile <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/student/mypro">My Profile</a>  <span class="nav-badge-btm"></span></a>
                        </li>
                        <li>
                            <a href="/UI/student/teacherprofile">Teacher Profile</a>  <span class="nav-badge-btm"></span></a>
                        </li>
                        <li>
                            <a href="/UI/student/updateprofilepic">Update Profile Pic</a>  <span class="nav-badge-btm"></span></a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/UI/student/routine" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Routine</a>

                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Assignment <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/student/homework">Homework</a>  <span class="nav-badge-btm"></span></a>
                        </li>
                        <!-- <li>
                            <a href="/UI/student/studentreport">Class</a>  <span class="nav-badge-btm"></span></a>
                        </li>
                        <li>
                            <a href="/UI/student/studentreport">Update Profile Pic</a>  <span class="nav-badge-btm"></span></a>
                        </li> -->
                        
                    </ul>
                </li>
                <li>
                    <a href="/UI/student/attendance" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Attendence</a>
                </li>
                <li>
                    <a href="/UI/student/onlineclass" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Online Class</a>
                </li>
                <li>
                    <a href="/UI/student/fee" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Fee</a>

                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Setting <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/student/changepassword" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Change Password</a>
                        </li>
                        <!-- <li>
                            <a href="/UI/student/studentreport">Class</a>  <span class="nav-badge-btm"></span></a>
                        </li>
                        <li>
                            <a href="/UI/student/studentreport">Update Profile Pic</a>  <span class="nav-badge-btm"></span></a>
                        </li> -->
                        
                    </ul>
                </li>

                <!-- <li>
                    <a href="/UI/student/changepassword" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Change Password</a>
                </li>
                 -->

                <!-- <li>
                    <a href="/UI/student/studentlogout" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Logout</a>
                </li> -->
                

            </ul>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>