<!DOCTYPE HTML>
<html>
<head>
	{%include "UI/Faculty/head.html"%}
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		{%include "UI/Accountant/sidebar.html"%}
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		{%include "UI/Accountant/header.html"%}
        <!----main content-->
        <div id="page-wrapper">
			<div class="main-page">
				

				
    <!----					<div class="row">
						<div class="col-md-1">
						</div>
							<div class="col-md-10">
								<div class="row">
									<div class="col-md-2">
										<b>School Name</b>

									</div>
									<div class="col-md-10">
										<select class="form-control">
											<option value="Infoera Software Services Pvt Ltd" >Select School</option>
											<option value="Infoera Software Services Pvt Ltd">Infoera Software Services Pvt Ltd</option>
										</select>
									</div>
								</div>
							</div>

						<div class="col-md-1">
						</div>
					</div>

					<div class="row">
						<div class="col-md-12" style="background-color:white">
							<b><h3 style="color:blue;">Basic Information</h3></b>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Name</b>
							<br>
							<input type="text" id="name"name="name"class="form-control" placeholder="Name">
						</div>
						<div class="col-md-3">
							<b>National ID</b>
							<br>
							<input type="text" id="nationalid"name="nationalid"class="form-control" placeholder="National ID">
						</div>
						<div class="col-md-3">
							<b>Phone</b>
							<br>
							<input type="text" id="phone"name="phone"class="form-control" placeholder="Phone">
						</div>

						<div class="col-md-3">
							<b>Gender</b>
							<select class="form-control">
								<option value="male">male</option>
								<option value="female">female</option>
							</select>
						</div>

					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Birth Date</b>
							<br>
							<input type="date" id="birthdate"name="birthdate"class="form-control" placeholder="Birth Date">
						</div>
						<div class="col-md-3">
							<b>Joining Date</b>
							<br>
							<input type="date" id="joiningdate"name="joiningdate"class="form-control" placeholder="Joinind Date">
						</div>
						<div class="col-md-3">
							<b>Father Name</b>
							<br>
							<input type="text" id="fathername"name="fathername"class="form-control" placeholder="Father Name">
						</div>

						<div class="col-md-3">
							<b>Aadhar No</b>
							<input type="text" id="aadharno" name="aadharno" class="form-control" placeholder="Aadhar Number">
						</div>

					</div>
					<div class="row">
						<div class= "col-md-6">
							<b>Present Address<b>
								<br>
								<textarea type="text" rows="6" id="presentaddress" name="presentaddress" class="form-control" placeholder="Present Address" >
								</textarea>
						</div>
						<div class= "col-md-6">
							<b>Present Address<b>
								<br>
								<textarea type="text" rows="6" id="presentaddress" name="presentaddress" class="form-control" placeholder="Present Address" >
								</textarea>
						</div>	
							
						
					</div>-->			
						
				
					



















				
				
				<div class="row">
					<!-- <p>
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul>
							{% for message in messages %}
							<li>{{ message }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}
					</p> -->
					<center><h1>{{msg}}</h1></center>
					<h3 class="title1"><u><b><center>Teacher Details<center></b></u></h3>
					<div class="form-three widget-shadow">
						<form class="form-horizontal" action="/UI/Accountant/nationalid" method="post" >
							<div class="row">
								<p>
									{% with messages = get_flashed_messages() %}
									{% if messages %}
									<ul>
										{% for message in messages %}
										<li>{{ message }}</li>
										{% endfor %}
									</ul>
									{% endif %}
									{% endwith %}
								</p>
								
							</div>
		

							<div class="row">
								<div class="col-md-6">
									<b>Id</b>
									<br>
									<input type="text" id="id"name="id"class="form-control" placeholder="Unique Id">
								</div>
								<div class="col-md-6">
									<b>National ID</b>
									<br>
									<input type="text" id="nationalid"name="nationalid"class="form-control" placeholder="National ID">
								</div>
								<div class="col-md-2">
									<div class="form-group">
									 
									 
										<input type="submit" name="submit" class="btn btn-primary" value="submit">
		 
		 
									</div>
								</div>
								
		
								
		
							</div>
							
							
							
							

                            <!-- <script>
								$(document).ready(function(){
								 // File type validation
									$("#fileInput1").change(function(){
										var fileLength = this.files1.length;
										var match= ["image/jpeg","image/png","image/jpg","image/gif"];
										var i;
										for(i = 0; i < fileLength; i++){ 
											var file = this.files1[i];
											var imagefile = file.type;
											if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
												alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
												$("#fileInput1").val('');
												return false;
											}
										}
									});
								});
							</script>

							<script type="text/javascript">
								function copy()
								{
									var presentaddress = document.getElementById("presentaddress");
									var permanentaddress = document.getElementById("permanentaddress");
									permanentaddress.value = presentaddress.value;
								}
							</script>



						


						
									
									



 -->

										
									
								

						 

								
								
								
								
						  
							
							
							

							
							
							
							
						</form>



						<div class="row">
							<div class="col-md-3">
								&nbsp;
							</div>
							
					</div>
					<div class="col-md-3">
						&nbsp;
					</div>
				</div>
            </div>
        </div>


        
        
        
        
        
        
        
        
        
	<div class="cal1" style="visibility:hidden">
						
	</div>
		
			</div>
		</div>
	</div>
	<!--footer-->
	
	<!--//footer-->
</div>
<!-- Classie -->
	<!-- Classie -->
	<!-- Classie -->
	{%include "UI/Faculty/footer.html"%}
</html>