<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1"style="overflow: scroll;scroll-behavior: auto;">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/UI/Accountant/Dashboard" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Accountant <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/Accountant/addaccountant">Add Accountant<span class="nav-badge-btm"></span></a>
                        </li>
                        <!-- <li>
                            <a href="/UI/NonFaculty/addaccountant">Add Reception</a>`


                        </li> -->
                        
                        <!--<li>
                            <a href="/Faculty/manageclass">Manage Class </a>
                        </li>
                        <li>
                            <a href="/Faculty/managesection">Manage Section</a>
                        </li>
                        <li>
                            <a href="/Faculty/addsubject">Add Subject</a>
                        </li>
                        <li>
                            <a href="/Faculty/addsyllabus">Add Syllabus</a>
                        </li>
                        <li>
                            <a href="/Faculty/classlecture">Class Lecture</a>
                        </li>-->
                    </ul>
                </li>
                <!-- <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Student <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/Accountant/listofstudent">List Of Student<span class="nav-badge-btm"></span></a>
                        </li> -->
                        
                        
                        <!--<li>
                            <a href="/Faculty/manageclass">Manage Class </a>
                        </li>
                        <li>
                            <a href="/Faculty/managesection">Manage Section</a>
                        </li>
                        <li>
                            <a href="/Faculty/addsubject">Add Subject</a>
                        </li>
                        <li>
                            <a href="/Faculty/addsyllabus">Add Syllabus</a>
                        </li>
                        <li>
                            <a href="/Faculty/classlecture">Class Lecture</a>
                        </li>-->
                    <!-- </ul>
                </li> -->
                
                <li>
                    <a href="/UI/Accountant/studentdetails" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Add Student</a>
                </li>
                <li>
                    <a href="/UI/Accountant/addteacher" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Add Teacher</a>
                </li>
                <li>
                    <a href="/UI/Accountant/addnonfaculty" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Add Non Faculty</a>
                </li>
                <li>
                    <a href="/UI/Acccountant/nationalid" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Add Nationalid</a>
                </li>
                
                <li>
                    <a href="/UI/Accountant/changepassword" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Change Password</a>
                </li>

                <li>
                    <a href="/UI/Accountant/generatefee" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>generate fee</a>
                </li>
                <li>
                    <a href="/UI/Accountant/monthlyfeebill" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Monthly Fee Bill</a>
                </li>
                <li>
                    <a href="/UI/Accountant/monthlyfee" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Monthly Fee Report</a>
                </li>
                
                
                

            </ul>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>