<!DOCTYPE HTML>
<html>
<head>
<title>SMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Bootstrap Core CSS -->
<link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="../../static/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="../../static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="../../static/js-1/jquery-1.11.1.min.js"></script>
<script src="../../static/js-1/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="../../static/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="../../static/js-1/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="../../static/js-1/Chart.js"></script>
<!-- //chart -->
<!--Calender-->
<link rel="stylesheet" href="../../static.css/clndr.css" type="text/css" />
<script src="../../static/js-1/underscore-min.js" type="text/javascript"></script>
<script src= "../../static/js-1/moment-2.2.1.js" type="text/javascript"></script>
<script src="../../static/js-1/clndr.js" type="text/javascript"></script>
<script src="../../static/js-1/site.js" type="text/javascript"></script>
<!--End Calender-->
<!-- Metis Menu -->
<script src="../../static/js-1/metisMenu.min.js"></script>
<script src="../../static/js-1/custom.js"></script>

<link href="../../static/css/custom.css" rel="stylesheet">

<style>

    #enquirybox{
        padding-top: 100px;
        background: #ffbd50;
    }

    #enquiryform{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        background-image:url("../../static/images/chps.jpg");
        padding: 25px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    #ptag{
        font-weight: bold;
        margin-bottom: 3px;
        margin-top: 10px;
    }

    #input{
        width: 100%;
        height: 40px;
        padding: 8px;
    }
    button{
        font-size: 20px;
        
        margin-top: 15px;
        border: 0px;
        background: #6B67D7;
        color: #fff; 
        width: 100%;
        height: 40px;
        border-radius: 3px;
    }
    button:hover{
        background: rgb(247, 147, 164);
    }
</style>





<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		{%include "UI/NonFaculty/sidebar.html"%}
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		{%include "UI/NonFaculty/header4.html"%}
		<!-- //header-ends -->	
        <!----main content-->
        <div id="page-wrapper">
			<div class="main-page">
				
                <div class="row">
                    <center><h1>{{msg}}</h1></center>
                    <h3 class="title1"><u><b><center>Forgot Password<center></b></u></h3>
                    
					
					
					<div class="form-three widget-shadow">
						<form class="form-horizontal" action="/UI/NonFaculty/forgotpassword" method="post">
                            <div id="enquiryform" class="container">
                                <center><img src="../../static/images/changepassword.png" style="width:100px;"></center>
                                
                                
              
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p id="ptag">Email id</p>
                                            <input type="text" class="form-control"id='email' name="email" placeholder="Email/Mobile No" required >

                                        </div>
                                        <br>
                                        <div class="col-md-2">
                                            <button>Send Otp</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p id="ptag">Enter Your Otp Here </p>
                                            <input type="password" class="form-control"id='password' name="password" placeholder="Old Password" required >

                                        </div>
                                        <br>
                                        <div class="col-md-2">
                                            <button>Check</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p id="ptag">New Password </p>
                                            <input type="password" class="form-control"id='newpassword' name="newpassword" placeholder="New Password" required >

                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p id="ptag">Confirm Password </p>
                                            <input type="password" class="form-control"id='confirmpassword' name="confirmpassword" placeholder="Confirm Password" required >

                                        </div>
                                        
                                        
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button>Update Your password</button>

                                    </div>
                                </div>
                                
                                 
                              
                             
                                 
                                  
                                
                  
                              </div>
                  
                              
                           
 
                            
                           

						</form>
						
					</div>
					
				</div>
            </div>
        </div>
		<div class="cal1" style="visibility:hidden">
		</div>
	</div></div>
	</div>
	<!--footer-->
	
	<!--//footer-->
</div>
<!-- Classie -->
	<!-- Classie -->
	<!-- Classie -->
	{%include "UI/NonFaculty/footer.html"%}
</html>