<!DOCTYPE HTML>
<html>
<head>
{%include "UI/Master/head.html"%}
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		{%include "UI/Master/sidebar.html"%}
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		{%include "UI/Master/header.html"%}
		<!-- //header-ends -->	
        <!----main content-->
        <div id="page-wrapper">
			<div class="main-page">
				
				<div class="row">
					<center><h1>{{msg}}</h1></center>
					<h3 class="title1"><u><b><center>Add Fee Category<center></b></u></h3>
					<div class="form-three widget-shadow">
						<form class="form-horizontal" action="/UI/Master/addfeecategory" method="post">
							<div class="row">
								<div class="col-md-1">
								</div>
									<div class="col-md-10">
										
                                        <div class="row">
											<div class="col-md-2">
												<b>Feetitle</b>

											</div>
											<div class="col-md-8">
												<select name="feetitle"  id="feetitle" class="form-control feedrop" onchange="chkind()" >
													{% for row in addfeetitle %}
													<option value="{{row.feetitle}}">{{row.feetitle}}</option>
													{% endfor %}
												</select>
											</div>
											<div class="row">
												
												
												<div class="row">
													<div class="col-md-2">
                                                    	<b>Feetitle Id</b>
														
            
                                                	</div>
                                                	<div class="col-md-8">
														<select 
														<!-- <input type="text" id="f_id" name="c_id" class="form-control"> -->
                                                    	
             -->
                                                	</div>
													<!-- <div class="col-md-4">
														
														<input type="text" id ="feetitle_id" name="feetitle_id" placeholder="Feetitle_Id"  class="form-control">
														
													</div> -->
													<div class="col-md-2">
														
														<!-- <button type="submit" class="btn btn-primary" >submit</button> -->
													
												</div>
    
                                            </div>
											
											
												
												
												<div class="row">
													<div class="col-md-2">
                                                    	<b>Category</b>
            
                                                	</div>
                                                	<div class="col-md-8">
                                                    	<input type="text" id ="category" name="category" placeholder="Category"  class="form-control">
            
                                                	</div>
													<div class="col-md-2">
														
														<button type="submit" class="btn btn-primary" >Submit</button>
													</div>
													
													
												</div>
    
                                            
											<div class="row">
												
												
												<div class="row">
													
													
													
												</div>
    
                                            </div>
                                           
                                           
                                            
										</div>


                                        

										
										
									</div>
									
								</div>
							</div>	
						</form>
						<script>
						function chkind(){
							var dropdown1 = document.getElementById('feetitle');
							var textbox = document.getElementById('f_id');
							if(dropdown1.selectedIndex == 0){

							  textbox.value = 1;
							} else if(dropdown1.selectedIndex == 1) {
							  textbox.value = 2;
							}else if(dropdown1.selectedIndex == 2) {
							  textbox.value = 3;
							}
							}
						</script>
						<!-- <script>
							$(document).ready(function() {
					
								$(".feedrop").on('change', function(e) {
					
									var productid = this.value;
					
									$.ajax({ // ajax code 
					
										url: "/getfee",
										method: "get",
										data: { type: type, category_id: category_id },
											
										 //getting productid in this id: and that id we will pass in that url: getproduct.php by using of get method, for now here we store it in data
										success: function(data) { // here we fetching out data in the function(data) by help of url
					
											console.log(data);
					
											$('#cid').val(data.id);
											
					
					
					
					
					
										}
									})
								})
					
					
							});
						</script> -->
					
					
					
					
						<!-- <script>
							function myFunction() {
							  var x = document.getElementById("feetitle").value;
							  document.getElementById("id").innerHTML = "You selected: " + x;
							}
						</script> -->
						<!-- <script>
							function func_n(val) {
								document.getElementById("demo").innerHTML = val;
							}
						</script> -->
						<!-- <script>
							

							document.getElementById("id").oninput = function() {
							Func_b
							};
							function Func_b() {
							alert("The val for the input field gets changed.");
							}
							</script> -->
							
						<!-- <script>
							function Func_a() {
							var x_ip = document.getElementById("id").value;
							document.getElementById("feetitle").innerHTML = "Select * from feetitle where title " + x_ip;
							}
						</script> -->

						<div class="row">
							<div class="col-md-3">
								&nbsp;
							</div>
							<div class="col-md-6 table-responsive text-nowrap">
								<table id="data" class="table table-striped">

									<!--Table head-->
									<thead>
										<tr>
										  <th>Sl.No</th>
										  <th>Feetitle</th>
										  <th>Category</th>
										  
										  
										</tr>
									  </thead>
									  <!--Table head-->
							
									  <!--Table body-->
								   
									  <tbody>
										  {% for row in addfeecategory  %}
											  <tr>
												  <td>{{ row.0 }}</td>
												  <td>{{ row.1 }}</td>
												  <td>{{ row.2 }}</td>
												  
											</tr>
											<!-- <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">&times;</button>
															<h4 class="modal-title">Update Class</h4>
														</div>
														<div class="modal-body">
															<form action="/update" method="POST">
																<div class="form-group">
																	<label>Add Class:</label>
																	<input type="hidden"  name="id" value="{{row.0}}">
																	<input type="text" class="form-control" name="class"id="class" value="{{row.1}}">
									 
									 
																</div>
																<div class="form-group">
									 
									 
																	<button class="btn btn-primary" type="sbumit">Update</button>
									 
									 
																</div>
															</form>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														</div>
													</div>
												</div>
											</div> -->
										{% endfor  %}
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="cal1" style="visibility:hidden">
		</div>
	</div>
	<!--footer-->
	
	<!--//footer-->
	
	<!-- Classie -->
	{%include "UI/Master/footer.html"%}
</html>