<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1"style="overflow: scroll;scroll-behavior: auto;">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/UI/Master/dashboard" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Master <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/Master/addsession">Add Session</a>
                            
                        </li>
                        <!-- <li>
                            <a href="/imageupload">Image</a>
                            
                        </li> -->
                        
                        <li>
                            <a href="/UI/Master/addclass">Add Class</a>
                            
                        </li>
                        
                        <li>
                            <a href="/UI/Master/addsection">Add Section</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/addsubject">Add Subject</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/addsyllabus">Add Syllabus</a>
                            
                            
                        </li>
                        
                        
                        
                        

                        <li>
                            <a href="/UI/Master/addhostel">Add Hostel</a>
                            
                            
                        </li>
                        
                        

            </ul>
            
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Fee <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/Master/feetitle">Add Feetitle</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/addfeecategory">Add Fee Category</a>
                            
                            
                        </li>
                        
                        <li>
                            <a href="/UI/Master/addfeeamount">Add Fee Amount</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/dependent">dependent</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/dpdemo">dependent</a>
                            
                            
                        </li>
                        
                        
                        <!-- <li>
                            <a href="/UI/Master/addsection">Add Section</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/addsubject">Add Subject</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/addsyllabus">Add Syllabus</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/feetitle">Add Feetitle</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/feeclass">Add Fee</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Master/feecategory">Add Fee Category</a>
                            
                            
                        </li>
                        

                        <li>
                            <a href="/UI/Master/addhostel">Add Hostel</a>
                            
                            
                        </li>
                        
                         -->

            
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>