<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1"style="overflow: scroll;scroll-behavior: auto;">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/Dashboard" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Master <span class="nav-badge"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/Admin/assignsubjecttoteacher">Assign Subject</a>
                            
                        </li>
                        <!-- <li>
                            <a href="/dependentdropdown">dropdown</a>
                            
                        </li>
                        <li>
                            <a href="/UI/Admin/depdrpdemo">dropdown</a>
                            
                        </li> -->
                        
                        
                        <!-- <li>
                            <a href="/UI/Admin/addclass">Add Class</a>
                            
                        </li>
                        
                        <li>
                            <a href="/UI/Admin/addsection">Add Section</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Admin/addsubject">Add Subject</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Admin/addsyllabus">Add Syllabus</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Admin/feetitle">Add Feetitle</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Admin/feeclass">Add Fee</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Admin/feecategory">Add Fee Category</a>
                            
                            
                        </li>
                        <li>
                            <a href="/UI/Admin/addhostel">Add Hostel</a>
                            
                            
                        </li> -->
                        
                        
                        <li>
                            <a href="/UI/Admin/designation">Designation</a>
                            
                            
                        </li>

                        
                        <li>
                            <a href="/UI/Admin/time">Time</a>
                        </li>
                        <li>
                            <a href="/UI/Admin/routinetest">Routine</a>
                        </li>
                        
                        
                        <li>
                            <a href="/UI/Admin/stream">Stream</a>
                            
                            
                        </li>
                        
                        <li>
                            <a href="/UI/Admin/teachersubject">Teacher Subject</a>
                            
                            
                        </li>
                        
                        <li>
                            <a href="/UI/Admin/addhostelfee">Add Hostel Fee</a>
                            
                            
                        </li>
                        
                        
                        <li>
                            <a href="/UI/Admin/manageclass">Manage Class </a>
                        </li><li>
                            <a href="/UI/Admin/managesection">Manage Section</a>
                        </li>
                        <li>
                            <a href="/UI/Admin/classlecture">Class Lecture</a>
                        </li>
                        <li>
                            <a href="/dependentdropdown">avi</a>
                        </li>
                        <li>
                            <a href="/carinsert">insert</a>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                    </ul>
                    <!-- /nav-second-level -->
                </li>
                <!-- <li>
                    <a href="/UI/Admin/studentdetails"><i class="fa fa-table nav_icon"></i>Student Registration <span class="nav-badge"></span></a>
                </li>
                <li>
                    <a href="/UI/Admin/addteacher"><i class="fa fa-table nav_icon"></i>Faculty Registration <span class="nav-badge"></span></a>
                </li>
                <li>
                    <a href="/UI/Admin/addnonfaculty"><i class="fa fa-table nav_icon"></i>Non Faculty Registration <span class="nav-badge"></span></a>
                </li> -->
                
                <!-- <li>
                    <a href="#"><i class="fa fa-envelope nav_icon"></i>Faculty<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/UI/Faculty/addteacher">Faculty Details <span class="nav-badge-btm"></span></a>
                        </li>
                        
                        <li>
                            <a href="/Faculty/addsubject">Add Subject</a>
                        </li>
                        <li>
                            <a href="/Faculty/addsyllabus">Add Syllabus</a>
                        </li>
                        
                          
                        <li>
                            <a href="/Faculty/manageclass">addFeeClass </a>
                        </li>
                        <li>
                            <a href="/sreport">sreport </a>
                        </li>
                        <li>
                            <a href='/result'>check</a>
                        </li>

                    </ul>
            
                </li> -->
                
                <!-- <li>
                    <a href="tables.html"><i class="fa fa-table nav_icon"></i>Tables <span class="nav-badge"></span></a>
                </li> -->
                <li>
                    <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Report<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        

                        <li>
                            <a href='/UI/Report/addsessionreport'>Add Session Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/addclassreport'>Add Class Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/addsectionreport'>Add Section Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/designation'>Add Designation Report</a>

                        </li>

                        
                        <li>
                            <a href='/UI/Report/addsubjectsreport'>Add Subject Report</a>
                        </li>
                        <li>
                            <a href="/UI/Report/teacherreport">Faculty Report</a>
                        </li>
                        <li>
                            <a href="/UI/Report/nonfacultyreport">NonFaculty Report</a>`

                        </li>
                        

                        
                        <li>
                            <a href="/UI/Report/managesectionreport">Manage Section Report</a>
                        </li>
                        <li>
                            <a href="/UI/Report/manageclassreport">Manage Class Report</a>
                        </li>
                        <li>
                            <a href="/UI/Report/studentreport">StudentRegistrationReport</a>
                        </li>
                        <li>
                            <a href='/UI/Report/addsyllabusreport'>Add Syllabus Report</a>
                        </li>

                        <li>
                            <a href='/UI/Report/classlecturereport'>class Lecture Report</a>
                        </li>
                        <li>
                            <a href='/UI/Report/timereport'>Time Report</a>
                        </li>
                        <li>
                            <a href='/UI/Report/teachersubjectreport'>Teacher Subject Report</a>
                        </li>
                        <li>
                            <a href='/UI/Report/addhostelreport'>Hostel Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/addhostelfeereport'>Hostel Fee Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/routinereport'>Routine Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/feetitleeport'>Feetitle Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/addfeereport'>Fee Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/feecategoryreport'>FeeCategory Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/streamreport'>Stream Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/addhomeworkreport'>AddHomework Report</a>

                        </li>
                        <li>
                            <a href='/UI/Report/studentfeereport'>Student Fee Report</a>

                        </li>
                    
                    
                        
                        
                        
                        
                        
                        
                        
                        
                        
                    </ul>
                    <!-- //nav-second-level -->
                </li>
                <li>
                    <a href="/UI/Admin/changepassword" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Change Password <span class="nav-badge-btm pull-right">new</span></a>
                </li>
                <!--<li>
                    <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Pages<span class="nav-badge-btm"></span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="login.html">Login</a>
                        </li>
                        <li>
                            <a href="signup.html">SignUp</a>
                        </li>
                        <li>
                            <a href="blank-page.html">Blank Page</a>
                        </li>
                    </ul>
                    <!-//nav-second-level ->
                </li>-->
                <!-- <li>
                    <a href="/UI/Admin/Adminlogout" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Logout <span class="nav-badge-btm pull-right">new</span></a>
                </li> -->
            </ul>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>